<!DOCTYPE html>
<html lang="zxx">
<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <!-- Title-->
  <title>Akaka's portfolio</title>
  <!-- Description-->
  <meta name="description" content="Personal Portfolio Template">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
  <!-- Web fonts-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;display=swap" rel="stylesheet">
  <!-- CSS vendors-->
  <link rel="stylesheet" href="css/bootstrap-custom.css">
  <link rel="stylesheet" href="css/ionicons.min.css">
  <link rel="stylesheet" href="css/tiny-slider.css">
  <link rel="stylesheet" href="css/lity.min.css">
  <link rel="stylesheet" href="css/simplebar.min.css">
  <link rel="stylesheet" href="css/jquery.mb.YTPlayer.min.css">
  <!-- Main CSS-->
  <link rel="stylesheet" href="css/main.css">
  <!-- CSS Color scheme-->
  <link id="color-scheme" rel="stylesheet" href="css/colors/main-darkgreen.css">
  <!-- Custom CSS (Add your custom CSS styles to this file)-->
  <link rel="stylesheet" href="css/custom.css">
  <!-- removeIf(customizerDist)-->
  <link rel="stylesheet" href="../customizer/main.css">
  <!-- endremoveIf(customizerDist)-->
</head>

<body class="theme-dark">
  <!-- Preloader-->
  <div class="preloader">
    <div class="preloader-block">
      <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
    </div>
  </div>
  <div id="overlay-effect"></div>
  <!-- Navbar-->
  <nav class="navbar-expand-md navbar fixed-top" id="navbar"><a class="navbar-brand" data-scroll="" href="#home-area">
      <!-- Navbar Logo-->
      <img class="img-fluid" src="img/img-kitzu-logo.png" alt="Logo"></a>
    <span class="navbar-menu ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="button"><span class="btn-line"></span></span>
    <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
      <!-- Navbar menu-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#resume">Resume</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="#blog">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Hire me</a></li>
      </ul>
    </div>
  </nav>
  <!-- Home-->
  <section class="home-area element-cover-bg" id="home" style="background-image:url(img/home.jpg)">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 home-content text-center">
          <h1 class="home-name">Perfait <span>Akaka</span></h1>
          <h4 class="cd-headline clip home-headline">I’m a <span class="cd-words-wrapper single-headline"><b class="is-visible">Developer</b><b>Designer</b><b>Leader</b></span></h4>
        </div>
      </div>
    </div>
    <div class="fixed-wrapper">
      <!-- Social media icons-->
      <div class="fixed-block block-right">
        <ul class="list-unstyled social-icons">
          <li><a href="https://www.linkedin.com/in/perfait-akaka/" target="_blank"><i class="icon ion-logo-linkedin"></i></a></li>
          <li><a href="https://github.com/perfait" target="_blank"><i class="icon ion-logo-github"></i></a></li>
          <li><a href="https://www.instagram.com/akaka_third_of_his_name/" target="_blank"><i class="icon ion-logo-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
  <!-- About lightbox-->
  <div class="lightbox-wrapper" id="about" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Get to know me</p>
                  <h2 class="section-title">About Me</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img"><img class="img-fluid img-thumbnail" src="img/info-img.jpg" alt="About Picture"></div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <h2 class="content-subtitle">Who am i?</h2>
                    <h6 class="content-title">I'm Perfait Akaka, a Fullstack Software Developer</h6>
                    <div class="content-description">
                      <p>Ever since i wrote my first, "Hello world" line of code, I knew that this was the path for me. I am an energetic soul who strives to be the best in his field. I am open for hiring. Please reach out to me.</p>
                    </div>
                    <address class="content-info">
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Name:</span>
                          <p>Perfait AKaka</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>Email:</span>
                          <p><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHxGqlpSCZDLNZCdVFsWKrKLHPRDVFNJHQLpbnZWsNrVprfmhbMgCwsqKWjNgDXHkgxBsGX" target="_blank">perfaitakaka@gmail.com</a></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Age:</span>
                          <p>21</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>From:</span>
                          <p>Nairobi, Kenya</p>
                        </div>
                      </div>
                    </address>
                    <div class="d-block d-sm-flex align-items-center"><a class="btn content-download button-main button-scheme" href="https://drive.google.com/file/d/1xS-vf5cbTmLWr1Dppzv6tZnXGpo0odq9/view?usp=sharing" role="button" target="_blank">View CV</a>
                      <ul class="list-unstyled list-inline content-follow">
                        <li class="list-inline-item"><a href="#0"><i class="icon ion-logo-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#0"><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#0"><i class="icon ion-logo-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#0"><i class="icon ion-logo-github"></i></a></li>
                        <li class="list-inline-item"><a href="#0"><i class="icon ion-logo-facebook"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Services section-->
            <div class="services-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description">Services i offer to my clients</p>
                    <h2 class="section-title">My Services</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-logo-css3"></i>
                    <h6 class="service-title">Software development</h6>
                    <p class="service-description">I analyze user requirements and build software tailored to meet the specific needs.</p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-md-images"></i>
                    <h6 class="service-title">Graphics design</h6>
                    <p class="service-description">With an eye for detail, i design aesthetic web components which make its frontend appealing to the eye</p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-logo-ionic"></i>
                    <h6 class="service-title">Tutoring</h6>
                    <p class="service-description">I tutor programming to beginners who want to start coding. A youtube project is underway</p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-logo-wordpress"></i>
                    <h6 class="service-title">Software maintenance</h6>
                    <p class="service-description">I offer maintenance service by regularly updating your software/website so as to fulfill your ever changing needs.</p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-md-move"></i>
                    <h6 class="service-title">Testing & debugging</h6>
                    <p class="service-description">I am experienced in narrowing down bugs and removing them to achieve optimum software functionality</p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-ios-rocket"></i>
                    <h6 class="service-title">Branding</h6>
                    <p class="service-description">A solid brand is important for your marketting. I create branding tools such as logos, banners and trademarks.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Testimonials section-->
            <div class="testimonials-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description">What my clients think about me</p>
                    <h2 class="section-title">Testimonials</h2>
                  </div>
                </div>
              </div>
              <div class="my-slider">
                <div class="slider-item">
                  <!-- Single review-->
                  <div class="single-review swiper-slide">
                    <div class="review-header d-flex justify-content-between">
                      <div class="review-client">
                        <div class="media"><img class="img-fluid rounded-circle client-avatar" src="img/client-1.jpg" alt="Client">
                          <div class="client-details">
                            <h6 class="client-name">Joseph Were</h6><span class="client-role">Client</span>
                          </div>
                        </div>
                      </div><i class="icon ion-md-quote review-icon"></i>
                    </div>
                    <p class="review-content">Akaka did an excellent creative job, addressing our request quickly, and also providing his own graphic insight, being open to feedback and changes or edits when they arose. He  worked with us the entire way. Highly recommended.</p>
                  </div>
                </div>
                <div class="slider-item">
                  <!-- Single review-->
                  <div class="single-review swiper-slide">
                    <div class="review-header d-flex justify-content-between">
                      <div class="review-client">
                        <div class="media"><img class="img-fluid rounded-circle client-avatar" src="img/client-2.jpg" alt="Client">
                          <div class="client-details">
                            <h6 class="client-name">Witney Judy</h6><span class="client-role">Colleague</span>
                          </div>
                        </div>
                      </div><i class="icon ion-md-quote review-icon"></i>
                    </div>
                    <p class="review-content">Perfait is a professional developer. I have worked with him as a colleague on school projects and I must put his efficiency on the spotlight. We would complete the projects on time and he always had a way of giving solutions to every problem.</p>
                  </div>
                </div>
                <div class="slider-item">
                  <!-- Single review-->
                  <div class="single-review swiper-slide">
                    <div class="review-header d-flex justify-content-between">
                      <div class="review-client">
                        <div class="media"><img class="img-fluid rounded-circle client-avatar" src="img/client-3.jpg" alt="Client">
                          <div class="client-details">
                            <h6 class="client-name">Zamzam Bonaya</h6><span class="client-role">Colleague</span>
                          </div>
                        </div>
                      </div><i class="icon ion-md-quote review-icon"></i>
                    </div>
                    <p class="review-content">I've worked with Akaka during his internship period and I learnt alot from him. He is a leader, a solution finder, a team-player and most importantly, a teacher. He has a way of explaining things in the most simple way.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Resume lightbox-->
  <div class="lightbox-wrapper" id="resume" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Check out my Resume</p>
                  <h2 class="section-title">Resume</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Resume section-->
            <div class="resume-section single-section">
              <div class="row">
                <!-- Education part-->
                <div class="col-12 col-md-6">
                  <div class="col-block education">
                    <h3 class="col-title">Education</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title" style = "color:#ffdb58 ">Bachelor of Computer Science</h5><span class="item-details"><strong>Africa Nazarene International University / 2017 - 2021</strong></span>
                      <p class="item-description">I'm a fourth year computer science student in my final year, set to graduate mid next year</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title" style = "color:#ffdb58">Certifications</h5>
                      <p class="item-description">
                        <ul style="list-style: disc; ">
                          <li><p>IoT with Engineering Crash course from Laxmi Institute of Engineering.  <a href="https://drive.google.com/file/d/1USlGs2EYN5wzs1oupOw3N1h9sx2QNZdH/view?usp=sharing" target="_blank">  Check it out</a></p></li>
                          <li><p>Hardware and software practicum module certificate from cisco Networking Academy.  <a href="https://drive.google.com/file/d/1Pai66IHPA0lDMFHxmhMvO7HpeGQNHm69/view?usp=sharing" target="_blank">  Check it out</a></p></li>
                          <li><p>Python certification from Udemy<a href="https://drive.google.com/file/d/1l27ExGjoEGfUmMtq5O72weLJrSFlzERz/view?usp=sharing" target="_blank">  Check it out</a></p></li>  
                          <li><p>Interactive Computer Graphics from The University of Tokyo<a href="https://drive.google.com/file/d/1z6EKJVoOJcCSxjEg6uLPGggKvqPlL14T/view?usp=sharing" target="_blank">  Check it out</a></p></li>  
                          <li><p>Initiating and planning projects from University of California Irvine<a href="https://drive.google.com/file/d/1NYqG3OsMfVP94va6TZ0MEzx_uZKjd0-O/view?usp=sharing" target="_blank">  Check it out</a></p></li>
                          <li><p>Budgeting and scheduling projects from University of California Irvine<a href="https://drive.google.com/file/d/1yJFOW00VzRjlBffQoHXW7rB9oggaC1K6/view?usp=sharing" target="_blank">  Check it out</a></p></li> 
                          <li><p>Google Analytics certificate of completion from Google analytics academy<a href="https://drive.google.com/file/d/1eyJJFeSM7c6DOLeNaAR4H8s9B2kSuzne/view?usp=sharing" target="_blank">  Check it out</a></p></li>
                        </ul>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Experience part-->
                <div class="col-12 col-md-6">
                  <div class="col-block experience">
                    <h3 class="col-title">Experience</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title" style = "color:#ffdb58">Internship</h5><span class="item-details" ><strong>County government of Kakamega / June 2020 - October</strong></span>
                      <p class="item-description">I worked as the assistant to the web and network administrators at the county's ICT department. Some of my achievements were;
                        <ul style="list-style: disc; ">
                          <li><p>Increased user experience on the county government’s website immensely through maintenance by debugging, adding features and enhancing user experience.</p></li>
                          <li><p>Increased IT user support by 20% to other departments that might have experienced technical issues by putting up a help desk system in the county’s website.</p></li>
                          <li><p>Increased efficiency in the Kenya EMR project by assessing network quality in the health facilities within Kakamega County.</p></li>
                          <li><p>Kept the Kakamega County’s Inventories and the Ministry of Health’s daily financial reports 100% up to date by doing regular data entry.</p></li>
                          <li><p>Formulated the Bill of Quantity for network installation at Bukhungu Stadium.</p></li>
                         <li><p>Reduced downtime by 50% through active configuration and troubleshooting of the network.</p></li>
                         <p><a href="https://drive.google.com/file/d/1fIZyCI4KjKr8MpJVz0JHsJlXh9LToCQw/view?usp=sharing" target="_blank">  My recommendation</a></p>  
                        </ul>
                      </p>
                    </div>                  
                  </div>
                </div>
              </div>
            </div>
            <!-- Skills section-->
            <div class="skills-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description">My level of knowledge in some tools</p>
                    <h2 class="section-title">My Skills</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="single-skill" data-percentage="90">
                    <div class="skill-info"><span class="skill-name">PHP</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="85">
                    <div class="skill-info"><span class="skill-name">Java</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="83">
                    <div class="skill-info"><span class="skill-name">Python</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="single-skill" data-percentage="95">
                    <div class="skill-info"><span class="skill-name">HTML/CSS</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="83">
                    <div class="skill-info"><span class="skill-name">JavaScript</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="79">
                    <div class="skill-info"><span class="skill-name">REACT</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Video section-->
            <div class="video-section single-section">
              <div class="row align-items-center">
                <div class="col-12 col-lg-6 content-part">
                  <h3 class="video-title">My motivation</h3>
                  <p class="video-description">The progress of a society is dependent on the stupid person and not the intelligent one</p>
                  <p class="video-description">1N7ELLIG3NC3 I5 7HE 4BILI7Y 70 4DAP7 70 CH4NGE</p>
                </div>
                <div class="col-12 col-lg-6 video-part"><a class="media-lightbox" href="https://www.youtube.com/watch?v=GEdvIzew-yw&ab_channel=Motivation2Study" data-lightbox>
                    <div class="embed-responsive embed-responsive-16by9">
                      <div class="embed-responsive-item element-cover-bg"><span class="play-wrapper"><i class="icon ion-md-play"></i></span></div>
                    </div>
                  </a></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio lightbox-->
  <div class="lightbox-wrapper" id="portfolio" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Some of my best moments</p>
                  <h2 class="section-title">Gallery</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Portfolio section-->
            <div class="portfolio-section single-section">
              <div class="row">
                <!-- Filter nav-->
                <div class="col-12">
                  <ul class="list-inline filter-control" role="group" aria-label="Filter Control">
                    <li class="list-inline-item tab-active" data-filter="*">All</li>
                    <li class="list-inline-item" data-filter=".community">Community Service</li>
                    <li class="list-inline-item" data-filter=".extra">Extra Curricular</li>
                    <li class="list-inline-item" data-filter=".photos">professionalism</li>
                  </ul>
                </div>
              </div>
              <!-- Thumbnail list-->
              <div class="portfolio-grid row">
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 extra"><a class="portfolio-item" href="img/extra1.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/extra1.jpg">
                      <div class="item-content">
                        <h6 class="content-title">After winning</h6><span class="content-more">view</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="img/prof1.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/prof1.jpg">
                      <div class="item-content">
                        <h6 class="content-title">At work</h6><span class="content-more">view</span>
                      </div>
                    </div>
                  </a></div>
                  <!-- Single item-->
                <div class="single-item col-6 col-lg-4 extra"><a class="portfolio-item" href="img/extra4.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/extra4.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Home Team</h6><span class="content-more">view</span>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 extra"><a class="portfolio-item" href="img/extra3.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/extra3.jpg">
                    <div class="item-content">
                      <h6 class="content-title">School Team</h6><span class="content-more">view</span>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 extra"><a class="portfolio-item" href="img/extra5.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/extra5.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Turkish dance</h6><span class="content-more">view</span>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 extra"><a class="portfolio-item" href="img/extra6.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/extra6.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Aferin</h6><span class="content-more">view</span>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 extra"><a class="portfolio-item" href="img/extra7.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/extra7.jpg">
                    <div class="item-content">
                      <h6 class="content-title">çok güzel</h6><span class="content-more">view</span>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 extra"><a class="portfolio-item" href="img/extra8.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/extra8.jpg">
                    <div class="item-content">
                      <h6 class="content-title">The greatest showman</h6><span class="content-more">view</span>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 community"><a class="portfolio-item" href="img/comm1.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/comm1.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Make a kid's day</h6><span class="content-more">view</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 community"><a class="portfolio-item" href="img/comm2.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/comm2.jpg">
                      <div class="item-content">
                        <h6 class="content-title">It's the little actions</h6><span class="content-more">view</span>
                      </div>
                    </div>
                  </a></div>
                  <!-- Single item-->
                <div class="single-item col-6 col-lg-4 community"><a class="portfolio-item" href="img/comm3.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/comm3.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Service</h6><span class="content-more">view</span>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="img/prof2.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/prof2.jpg">
                      <div class="item-content">
                        <h6 class="content-title">When you love your job</h6><span class="content-more">view</span>
                      </div>
                    </div>
                  </a></div>
                  <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="img/prof4.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/prof4.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Meeting</h6><span class="content-more">view</span>
                    </div>
                  </div>
                </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog lightbox-->
  <div class="lightbox-wrapper" id="blog" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Check out some of my work</p>
                  <h2 class="section-title">My Portfolio</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Blog section-->
            <div class="blog-section single-section">
              <div class="row justify-content-center">
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="img/6.JPG" target="_blank"><img class="card-img-top" src="img/post-1.jpg" alt="Blog post"><span class="content-date">11 Jan, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">ECommerce Website</h5>
                      </a>
                      <p class="card-text content-description">This is a system like AliExpress. It was my school project which I worked on for three months. I built it using HTML, PHP and CSS with bootstrap.</p>
                      <p><a href="https://github.com/perfait/ECommerce" target="_blank">Source code</a></p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="img/7.JPG" target="_blank"><img class="card-img-top" src="img/post-2.jpg" alt="Blog post"><span class="content-date">1 July, 19</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Meal management system</h5>
                      </a>
                      <p class="card-text content-description">It is a system made in java that should be used in a school restaurant for accounting and managing orders.</p>
                      <p><a href="https://github.com/perfait/meal-system-project" target="_blank">Source code</a></p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="img/1.JPG" target="_blank"><img class="card-img-top" src="img/post-3.jpg" alt="Blog post"><span class="content-date">4 November, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Blog system</h5>
                      </a>
                      <p class="card-text content-description">I created a blog website using the PHP framework, code igniter. It uses the MVC model to enable users to create posts, delete them, edit and other functionalities.</p>
                      <p><a href="https://github.com/perfait/blog-system" target="_blank">Source code</a></p>
                    </div>
                  </div>
                </div><!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="img/4.jpg" target="_blank"><img class="card-img-top" src="img/post-4.jpg" alt="Blog post"><span class="content-date">11 July, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Portfolio Website</h5>
                      </a>
                      <p class="card-text content-description">I created my portfolio website using HTML, CSS with bootstrap and JavaScript.</p>
                      <p><a href="https://github.com/perfait/Portfolio-website" target="_blank">Source code</a></p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="img/2.JPG" target="_blank"><img class="card-img-top" src="img/post-5.jpg" alt="Blog post"><span class="content-date">30 Nov, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">League table</h5>
                      </a>
                      <p class="card-text content-description">I used PHP to create a system that enables a user to create a league (like the English premiere league). It enables the user to add teams, update scores then display the results and other in-depth statistics on a league table. Everything is pulled from the database.</p>
                      <p><a href="https://github.com/perfait/league-table" target="_blank">Source code</a></p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="img/3.JPG" target="_blank"><img class="card-img-top" src="img/post-6.jpg" alt="Blog post"><span class="content-date">23 Oct, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Business website</h5>
                      </a>
                      <p class="card-text content-description">I used HTML, CSS with bootstrap and JavaScript to create an aesthetic website for a business.</p>
                      <p><a href="https://github.com/perfait/Business-website" target="_blank">Source code</a></p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="img/8.JPG" target="_blank"><img class="card-img-top" src="img/post-8.jpg" alt="Blog post"><span class="content-date">23 Oct, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Webchat site</h5>
                      </a>
                      <p class="card-text content-description">I created a small feature on a website that enables two different users to chat. I used PHP.</p>
                      <p><a href="https://github.com/perfait/webchat" target="_blank">Source code</a></p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="img/5.JPG" target="_blank"><img class="card-img-top" src="img/post-7.jpg" alt="Blog post"><span class="content-date">23 Oct, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Book management system</h5>
                      </a>
                      <p class="card-text content-description">I built a simple book management system to fully understand CRUD operations in PHP.</p>
                      <p><a href="https://github.com/perfait/books-management-system-CRUD-" target="_blank">Source code</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact lightbox-->
  <div class="lightbox-wrapper" id="contact" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Hello champ. Reach out to me any time.</p>
                  <h2 class="section-title">Get in Touch</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Contact section-->
            <div class="contact-section single-section">
              <div class="row">
                <!-- Contact form-->
                <div class="col-12 col-lg-7">
                  <form class="contact-form" id="contact-form" action="http://exill.dk/demo/kitzu/template/php/contact.php">
                    <h4 class="content-title">Message Me</h4>
                    <div class="row">
                      <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-name" type="text" name="name" placeholder="Name" required=""></div>
                      <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-email" type="email" name="email" placeholder="Email" required=""></div>
                      <div class="col-12 form-group"><input class="form-control" id="contact-subject" type="text" name="subject" placeholder="Subject" required=""></div>
                      <div class="col-12 form-group form-message"><textarea class="form-control" id="contact-message" name="message" placeholder="Message" rows="5" required=""></textarea></div>
                      <div class="col-12 form-submit"><button class="btn button-main button-scheme" id="contact-submit" type="submit">Send Message</button>
                        <p class="contact-feedback"></p>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Contact info-->
                <div class="col-12 col-lg-5">
                  <div class="contact-info">
                    <h4 class="content-title">Contact Info</h4>
                    <p class="info-description">I'm available for hiring. Please feel free to contact me.</p>
                    <ul class="list-unstyled list-info">
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-logo-ionic"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Name</h6><span class="info-value">Perfait Akaka</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-map"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Location</h6><span class="info-value">Nairobi, Kenya</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-call"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Call Me</h6><span class="info-value"><a href="tel:+254716959152">+254716959152</a></span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-send"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Email Me</h6><span class="info-value"><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHxGqlpSCZDLNZCdVFsWKrKLHPRDVFNJHQLpbnZWsNrVprfmhbMgCwsqKWjNgDXHkgxBsGX" target="_blank">perfaitakaka@gmail.com</a></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- removeIf(customizerDist)-->
  <div class="demo-tool">
    <div class="tool-wrapper">
      <span class="tool-toggler"><i class="icon ion-md-settings"></i></span>
      <div class="tool-box">
        <ul class="list-inline single-block color-switcher">
          <li class="list-inline-item" style="background-color: #2c31ff;" data-path="css/colors/main-blueviolet.css"></li>
          <li class="list-inline-item" style="background-color: #3460D1;" data-path="css/colors/main-nightskyblue.css"></li>
          <li class="list-inline-item" style="background-color: #EE3158;" data-path="css/colors/main-redpink.css"></li>
          <li class="list-inline-item" style="background-color: #007bff;" data-path="css/colors/main-blue.css"></li>
          <li class="list-inline-item" style="background-color: #17a2b8;" data-path="css/colors/main-cyan.css"></li>
          <li class="list-inline-item" style="background-color: #3365b0;" data-path="css/colors/main-darkblue.css"></li>
          <li class="list-inline-item" style="background-color: #a435b7;" data-path="css/colors/main-darkmagenta.css"></li>
          <li class="list-inline-item" style="background-color: #c93e70;" data-path="css/colors/main-darkpink.css"></li>
          <li class="list-inline-item" style="background-color: #bf2a3d;" data-path="css/colors/main-darkred.css"></li>
          <li class="list-inline-item" style="background-color: #28a745;" data-path="css/colors/main-green.css"></li>
          <li class="list-inline-item" style="background-color: #6610f2;" data-path="css/colors/main-indigo.css"></li>
          <li class="list-inline-item" style="background-color: #fd7e14;" data-path="css/colors/main-orange.css"></li>
          <li class="list-inline-item" style="background-color: #e83e8c;" data-path="css/colors/main-pink.css"></li>
          <li class="list-inline-item" style="background-color: #6f42c1;" data-path="css/colors/main-purple.css"></li>
          <li class="list-inline-item" style="background-color: #dc3545;" data-path="css/colors/main-red.css"></li>
          <li class="list-inline-item" style="background-color: #20c997;" data-path="css/colors/main-teal.css"></li>
          <li class="list-inline-item" style="background-color: #333;" data-path="css/colors/main-dark.css"></li>
          <li class="list-inline-item" style="background-color: #78b230;" data-path="css/colors/main-yellowgreen.css"></li>
          <li class="list-inline-item" style="background-color: #E16F7C;" data-path="css/colors/main-tangopink.css"></li>
          <li class="list-inline-item" style="background-color: #6F73D2;" data-path="css/colors/main-moodyblue.css"></li>
          <li class="list-inline-item" style="background-color: #664C43;" data-path="css/colors/main-brown.css"></li>
          <li class="list-inline-item" style="background-color: #4770D9;" data-path="css/colors/main-royalblue.css"></li>
          <li class="list-inline-item" style="background-color: #ffb100;" data-path="css/colors/main-darkyellow.css"></li>
        </ul>
        <div class="single-block buy-btn mb-0">
          <a class="btn btn-success btn-sm" target="_blank" href="https://themeforest.net/item/kitzu-personal-portfolio-template/26075107" role="button">Buy Kitzu</a>
        </div>
      </div>
    </div>
  </div>
  <!-- endremoveIf(customizerDist)-->
  <!-- Scripts-->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/animatedModal.js"></script>
  <script src="js/tiny-slider.js"></script>
  <script src="js/lity.min.js"></script>
  <script src="js/simplebar.min.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>
  <script src="js/main.js"></script>
  <!-- Custom JS (Add your custom JS scripts to this file)-->
  <script src="js/custom.js"></script>
  <!-- removeIf(customizerDist)-->
  <script src="../customizer/main.js"></script>
  <!-- endremoveIf(customizerDist)-->
</body>

</html>